body{margin:0;width:100%;background-color:#fffbf3;transition:all .5s ease-in-out;scroll-behavior:smooth;object-fit:cover;font-family:arial-round-nt,Helvetica,sans-serif}
@font-face{font-family:arial-round-nt;src:url(arial-notbold.ttf)}
.abt-main{text-align:center;display:flex;flex-direction:column;align-items:center;width:70%}
p{font-size:18px}
h1{font-size:34px}
.ct-values{margin:20px 0;width:100%;display:flex;align-items:center;justify-content:space-evenly;object-fit:cover;object-position:top;width:35%;border-radius:10px}
.inf{width:35%}
h3,h4{margin:0}
h4{font-weight:500}
.ss-cecofa{display:flex;padding:1% 8%;gap:3%}
img{object-fit:cover;width:40%}
.content{padding:1% 8%;border-collapse:collapse;width:60%;margin:5% 0}
td,th{border:1px solid #ddd;text-align:left;padding:8px}
tr:nth-child(even){background-color:#ddd}
label span{color:#fff}
input{border-radius:3px;border:none;width:90%;justify-self:center;min-height:10%;font-size:16px;padding:15px 5%}
button{border-radius:3px;border:none;width:fit-content;min-height:10%;color:#000;font-size:18px;align-self:flex-start;background-color:#f8e6ac;padding:10px 25px}
.ta{width:90%}
textarea{font-size:16px;resize:none;border:none;border-radius:5px;margin-bottom:20px;width:100%}
img{height:70%}
a:hover{scale:1.1;color:#7b3f1c;transition:all .4s ease-in-out}
a.active{padding:0 8px;color:#7b3f1c;font-weight:700;border-bottom:#7b3f1c 3px solid}
.info{position:absolute;height:60%;max-height:400px;align-self:center;justify-content:space-between;top:0;width:50%;backdrop-filter:blur(5px);left:5%;bottom:0;flex-direction:column;display:flex;padding:4% 2%;background-color:#345733cc;color:#fffbf3;z-index:1;font-family:arial-round}
h1{color:#68de1a;font-size:20px;font-family:arial-round}
.cecofa{display:flex;align-items:center}
h3{color:#fff;font-size:23px}
p{margin:5px 0;font-family:arial-round;color:#68de1a;font-size:16px}
p{font-size:19px}
p{z-index:2;margin-bottom:5%;position:relative;width:60%;text-align:center;font-size:19px;color:#fff}
button{z-index:2;position:relative;padding:10px 35px;border-radius:5px;background-color:#07280549;color:#6db33f;font-size:18px;backdrop-filter:blur(1);border:#6db33f 3px solid}
img{object-fit:cover;position:absolute;filter:brightness(.5);z-index:0;width:100%;height:100%}
.logo{display:flex;flex-direction:column;align-items:center;margin-bottom:20px;text-align:center;font-size:16px;margin:5px 0}
hr{margin:0;width:70%}
ul{width:fit-content;display:flex;text-align:left;align-items:start;padding:0;flex-direction:column;gap:5px;list-style-type:none;text-decoration:none}
.card:hover{border-radius:0;box-shadow:unset;background-color:#355834;color:#fff;scale:1.05}
.card{cursor:pointer;transition:all ease .4s;width:25%;padding:15px;min-width:250px;border-radius:5px;box-shadow:1px 1px 3px #00000064;color:#000;background-color:#e2dedb;aspect-ratio:1.7/1;border-radius:50%;padding:5px;background-color:#fffbf3;height:30px;object-fit:cover}
h2{font-size:1.17em;margin:0}
.inf{width:100%}
.ss-cecofa{flex-direction:column}
img{width:100%}
form{width:100%}
.McButton b{position:absolute;left:0;width:44px;height:3px;background-color:#000}
.McButton b:nth-child(1){top:0}
.McButton b:nth-child(2){top:50%}
.McButton b:nth-child(3){top:100%}
.contnt{flex-direction:column;align-items:center;padding:2% 0;align-self:center}
.grid-img{width:100%}
ul{position:absolute;width:90%;top:10vh;padding:30px 5%;z-index:4;display:none;background-color:#fffbf3;flex-direction:column}
.sitemap{display:flex;flex-direction:column;align-items:center;width:100%}
.contact-sect{flex-direction:column;width:80%;padding:5%}
.contact-sect .info,.contact-sect form{width:100%}
.contact-sect form{padding:10px}
.contact-sect .grid{grid-template-columns:1fr!important;width:100%}
.contact-sect input,.contact-sect textarea{width:100%!important}
.contact-sect{height:auto}
.contact-sect input,.contact-sect textarea{width:100%;box-sizing:border-box}
.modal-content{max-width:90%;max-height:90%;object-fit:contain;margin:5% auto;display:block;width:80%}
.close{color:#fff;font-size:30px;font-weight:700;position:absolute;top:15px;right:35px;background-color:transparent;border:none;cursor:pointer}
.close:focus,.close:hover{color:#bbb;text-decoration:none;cursor:pointer}
.caption{color:#fff;font-size:20px;text-align:center;padding:10px}
.learn{animation:bounce 1.5s ease infinite}
@keyframes bounce{
0%{transform:translateY(0)}
25%{transform:translateY(-5px)}
50%{transform:translateY(0)}
75%{transform:translateY(-3px)}
100%{transform:translateY(0)}
}
.button{transition:all .6s ease}
.button:hover{box-shadow:1px 4px 5px rgba(0,0,0,.4);animation:bounce .6s ease-in-out}
.floating-div{border-radius:10px;box-shadow:0 4px 8px rgba(0,0,0,.4);animation:float 2s ease-in-out infinite}
@keyframes float{
0%{transform:translateY(0)}
50%{transform:translateY(-5px)}
100%{transform:translateY(0)}
}
.MainBg{position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;opacity:0;transition:opacity 1s ease-in-out}
.MainBg.active{opacity:1}
.fa-facebook-square{color:#1877f2}
.fa-linkedin-square{color:#0a66c2}
.fa-twitter-square{color:#1da1f2}
.fa-envelope-o{color:#e45454}
.sponsored{width:100%;display:flex;justify-content:flex-end;margin:0;letter-spacing:1px;text-decoration:none}