body {
    margin: 0;
    width: 100%;
    background-color: #fffbf3;
    transition: all 0.5s ease-in-out;
    scroll-behavior: smooth;
    object-fit: cover;
    font-family: arial-round-nt, Helvetica, sans-serif;
    p{
        line-height: 1.5;
    }
}
@font-face {
    font-family: arial-round;
    src: url(arialroundedmtbold.ttf);
}
@font-face {
    font-family: arial-round-nt;
    src: url(arial-notbold.ttf);
}
.root {

}
.abt-main{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1,p{
        margin: 10px 0;
        width: 70%;
    }
    p{
        font-size: 18px;
    }
    h1{
        font-size: 34px;
    }
}
.abt-img{
    display: flex;
    width: 100%;
    margin: 3% 0;
    justify-content: center;
    gap: 2%;
    img{
        width: 25%;
        border-radius: 3px;
        object-fit:cover ;
    }
}
.O-values{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ct-values{
    margin: 20px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
    img{
        aspect-ratio: 1.6/1;
        object-fit: cover;
        object-position: top;
        width: 35%;
        border-radius: 10px;
    }
    .inf{
        width: 35%;
    }
}
.abt-lead{
    display: flex;
    margin: 2% 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
    h2,p{
        margin: 10px 0;
        width: 70%;
    }
}
.team-cards{
    width: 80%;
    margin: 2% 0;
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    .tcard{
        min-width: 130px;
        width: 20%;
        img{
            width: 100%;
            aspect-ratio: 1/1.1;
            object-fit: cover;
            object-position: center;
            border-radius: 3%;
        }
        h3,h4{
            margin: 0;
        }
        h4{
            font-weight: 500;
        }
    }
}
button {
    cursor: pointer;
}
.ss-cecofa{
    display: flex;
    padding:1% 8%;
    gap: 3%;
    .inf{
        width: 50%;
    }
    img{
        object-fit: cover;
        width: 40%;
    }
}
.arial{
    font-family: Arial, Helvetica, sans-serif !important;
}
.content{
    padding: 1% 8%;

    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 60%;
        margin: 5% 0;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
}
.cntct {
    height: 90vh;
    width: 100%;
    display: grid;
    position: relative;

    img {
        z-index: 0;
        position: absolute;
        height: 100%;
        filter: brightness(0.8);
        width: 100%;
        object-fit: cover;
    }
}

.contact-sect {
    z-index: 1;
    position: relative;
    width: 80%;
    justify-self: center;
    top: 0;
    gap: 5%;
    padding: 5% 5%;
    align-self: center;
    display: flex;
    height: 65%;
    border-radius: 5px;
    justify-content: space-evenly;
    background-color: #ffffffc5;

    form {
        width: 55%;
        height: 100%;
        align-self: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 5px;
        align-items: center;
        padding: 20px 20px;

        background-color: #355834e6;

        .grid {
            margin-bottom: 20px;
            display: inline-grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: 1.5vw;
            width: 90%;
            justify-content: center;
        }
        label span{
            color: white;
        }
        input {
            border-radius: 3px;
            border: none;
            width: 90%;
            justify-self: center;
            min-height: 10%;
            font-size: 16px;
            padding: 15px 5%;
        }

        button {
            border-radius: 3px;
            border: none;
            width: fit-content;
            min-height: 10%;
            color: black;
            font-size: 18px;
            align-self: flex-start;
            background-color: #F8E6AC;
            padding: 10px 25px;
        }
        .ta{
            width: 90%;
        }
        textarea {
            font-size: 16px;
            resize: none;
            border: none;
            border-radius: 5px;
            margin-bottom: 20px;
            width: 100%;
        }
    }

    .info {
        width: 40%;

        ul {
            display: flex;
            gap: 10px;
            flex-direction: column;
            list-style-type: none;
        }
    }
}

nav {
    width: 100%;
    justify-content: space-evenly;
    display: flex;
    height: 13vh;
    align-items: center;

    .logo {
        height: 100%;
        display: flex;
        align-items: center;
        img.flag{
            height: 50%;
            filter: opacity(0.8);
            border-radius: 2px;
        }
        img {
            height: 70%;
        }
    }

    ul {
        a {
            color: #355834;
            text-decoration: none;
            font-size: 17px;
            transition: all 0.5s ease-in-out;
        }

        a:hover {
            scale: 1.1;
            color: #7b3f1c;
            transition: all 0.4s ease-in-out;
        }

        a.active {
            padding: 0 8px;
            color: #7b3f1c;
            font-weight: bold;
            border-bottom: #7b3f1c 3px solid;
        }

        display: flex;
        gap: 30px;
        list-style-type: none;
        font-size: 15px;
    }

    button {
        width: fit-content;
        height: fit-content;
        padding: 8px 25px;
        border: none;
        border-radius: 3px;
        background-color: #7b3f1c;
        color: white;
        font-size: 15px;
    }
}

.banner {
    height: 85vh;
    position: relative;
    width: 100%;
    .bg-container{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }


    .info {
        position: absolute;
        height: 60%;
        max-height: 400px;
        align-self: center;
        justify-content: space-between;
        top: 0;
        width: 50%;
        backdrop-filter: blur(5px);
        left: 5%;
        bottom: 0;
        flex-direction: column;
        display: flex;
        padding: 4% 2%;
        background-color: #345733cc;

        h2 {
            font-size: 30px;
            color: #fffbf3;
            z-index: 1;
            font-family: arial-round;
        }

        h1 {
            color: #68DE1A;
            font-size: 20px;
            font-family: arial-round;
        }

        .cecofa {
            display: flex;
            align-items: center;


            img {
                width: 30%;
            }

            .inf {
                * {
                    margin: 0;
                }

                h3 {
                    color: white;
                    font-size: 23px;
                }

                p {
                    margin: 5px 0;
                    font-family: arial-round;
                    color: #68DE1A;
                    font-size: 16px;
                }

                display: flex;
                flex-direction: column;
            }
        }
    }
}

.certs {
    display: flex;
    width: 100%;
    height: 25vh;
    justify-content: space-evenly;
    align-items: center;

    img {
        height: 40%;
    }
}

.bg_video {
    width: 100%;
    height: 70vh;
    background-color: black;

    video {
        width: 100%;
        filter: opacity(0.7);
        height: 100%;
        object-fit: cover;
    }
}

.contnt {
    display: flex;
    padding: 5vh 0;
    width: 90%;
    align-self: center;
    justify-content: space-evenly;
    justify-self: center;

    .content {
        width: 40%;

        h2 {
            font-size: 28px;
        }

        p {
            font-size: 19px;
        }
    }

    .grid-img {
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        align-items: center;
        justify-content: center;
        gap: 10px;

        img {
            filter: brightness(0.8);
            object-fit: cover;
            width: 47%;
            aspect-ratio: 1.35/1;
        }
    }
}

.b4-footer {
    position: relative;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 60vh;

    h2 {
        z-index: 2;
        font-size: 37px;
        text-align: center;
        color: #0cb100;
        position: relative;
        margin: 0;
    }

    p {
        z-index: 2;
        margin-bottom: 5%;
        position: relative;
        width: 60%;
        text-align: center;
        font-size: 19px;
        color: white;
    }

    button {
        z-index: 2;
        position: relative;
        padding: 10px 35px;
        border-radius: 5px;
        background-color: #07280549;
        color: #6DB33F;
        font-size: 18px;
        backdrop-filter: blur(1);
        border: #6DB33F 3px solid;
    }

    img {
        object-fit: cover;
        position: absolute;
        filter: brightness(0.5);
        z-index: 0;
        width: 100%;
        height: 100%;
    }
}

footer {
    background-color: #7b3f1c;
    padding: 2% 4%;
    display: flex;
    width: 92%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: space-between;
    color: #fff0e6;
    img{
        width: 30%;
        aspect-ratio: 2/1;
    }
    .logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
        p{
            width: 70%;
            text-align: center;
            font-size: 16px;
            margin: 5px 0;
            
        }
        hr{
            margin: 0;
            width: 70%;
        }
    }
    .socials{
        ul{
            padding: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .sitemap{
        h4{
            margin: 0;
        }
        ul{
            width: fit-content;
            display: flex;
            text-align: left;
            align-items: start;
            padding:0;
            flex-direction: column;
            gap: 5px;
            list-style-type: none;
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

.serv {
    width: 90%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 5vh 0;
    gap: 30px;

    .card.active {
        color: #fffbf3;
        background-color: #355834;
        border-radius: 0;
        box-shadow: unset;
    }
    .card:hover{
        border-radius: 0;
        box-shadow: unset;
        background-color: #355834;
        color: white;
        scale: 1.05;
    }
    .card {
        cursor: pointer;
        transition: all ease 0.4s;
        width: 25%;
        padding: 15px;
        min-width: 250px;
        border-radius: 5px;
        box-shadow: 1px 1px 3px #00000064;
        color: #000000;
        background-color: #E2DEDB;
        aspect-ratio: 1.7/1;

        img {
            width: 30px;
            border-radius: 50%;
            padding: 5px;
            background-color: #fffbf3;
            height: 30px;
            object-fit: cover;
        }

        h2 {
            font-size: 1.17em;
            margin: 0;
        }
    }
}

@media (min-width: 601px) {
    nav ul {
        display: flex !important;
    }
}

@media (max-width: 600px) {
    .ct-values{
        width: 90%;
        flex-direction: column !important;
        img{
            width: 80%;
            border-radius: 10px;
        }
        .inf{
            width: 100%;
        }
    }
    .abt-img{
        justify-content: space-evenly;
        img{
            width: 28%;
        }
    }
    .abt-main {
        h1, p {
            width: 90%;
        }}
    .abt-lead{
        h2,p{
            margin: 10px 0;
            width: 90%;
        }
    }
    .team-cards{
        width: 100%;
    }
    .ss-cecofa{
        flex-direction: column;
        .inf{
            width: 100%;
        }
        img{
            width: 100%;
        }
    }
    .cecofa{
        .inf{
    }
}
.certs {

    img {
        width: 20%;
        height: auto;
    }
}

    .cntct{
        .contact-sect{
        height: auto;
        margin: 10px;
        flex-direction: column;
        .info{
            width: 100%;
        }
        form{
            width: 100%;
        }
    }
    }
    
    .serv .card{
        width: 90%;
        aspect-ratio: unset;
        padding: 30px;
    }
    nav{
        button {
            display: none;
        }
    }
   .b4-footer{
    button{
        font-size: 18px !important;
    }
   }

    #menu {
        button {
            display: block !important;
        }
    }

    .McButton {
        position: absolute;
        right: 5px;
        margin: 10px;
        width: 44px;
        justify-self: center;
        height: 33px;
        cursor: pointer;
    }

    .McButton b {
        position: absolute;
        left: 0;
        width: 44px;
        height: 3px;
        background-color: rgb(0, 0, 0);
    }

    .McButton b:nth-child(1) {
        top: 0;
    }

    .McButton b:nth-child(2) {
        top: 50%;
    }

    .McButton b:nth-child(3) {
        top: 100%;
    }

    .contnt {
        flex-direction: column;
        align-items: center;

        .content {
            width: 100%;
            padding: 2% 0;
            align-self: center;
        }

        .grid-img {
            width: 100%;
        }
    }

    .banner {
        align-items: center;
        justify-content: center;
        display: flex;

        .info {
            width: 90%;
            height: unset;
            left: unset;
        }

    }

    header {
        nav {
            position: relative;
            flex-direction: column;

            .logo {
                align-self: flex-start;
            }

            ul {

                position: absolute;
                width: 90%;
                top: 10vh;
                padding: 30px 5%;
                z-index: 4;
                display: none;
                background-color: #fffbf3;
                flex-direction: column
            }
        }
    }

    .b4-footer {
        p {
            width: 90%;
        }
    }

    @media (max-width: 600px) {
        footer {
            justify-content: center;
            div{
                width: 90%;
            }
            .sitemap{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                ul{
                    gap: 18px;
                }
            }
        }
        .content{
            table{
                width: 100%;
            }
            
        }
        .cntct {
            height: auto; /* Allow height to adjust based on content */
        }
    
        .contact-sect {
            flex-direction: column;
            width: 80%; /* Make it narrower to fit within smaller screens */
            padding: 5%;
        }
    
        .contact-sect .info, .contact-sect form {
            width: 100%; /* Set both info and form to take full width */
        }
    
        .contact-sect form {
            padding: 10px; /* Reduce padding on form to save space */
        }
    
        .contact-sect .grid {
            grid-template-columns: 1fr !important; /* Stack form fields in a single column */
            width: 100%; /* Ensure it fits within the contact-sect area */
        }
    
        .contact-sect input, .contact-sect textarea {
            width: 100% !important; /* Full width for input and textarea */
        }
    }
    .cntct {
        min-height: 90vh; /* Use min-height to keep responsiveness */
        height: auto; /* Allow height to adjust */
    }
    
    .contact-sect {
        height: auto; /* Allow dynamic height based on content */
    }
    .contact-sect input, .contact-sect textarea {
        width: 100%;
        box-sizing: border-box; /* Ensure padding doesn't increase element width */
    }
            

}
/* Modal (hidden by default) */
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}

/* Modal content (the image) */
.modal-content {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    margin: 5% auto;
    display: block;
    width: 80%;
}

/* Close button */
.close {
    color: white;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 15px;
    right: 35px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Caption */
.caption {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
}
.learn{
    animation: bounce 1.5s ease infinite;
}
@keyframes bounce {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(-3px); }
    100% { transform: translateY(0); }
  }
  .button{
    transition: all 0.6s ease;
  }
  .button:hover {
    box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.4);
    animation: bounce 0.6s ease-in-out;
  }
  .floating-div {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    animation: float 2s ease-in-out infinite;
  }
  
  /* Keyframes for the floating effect */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }
  .MainBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Smooth fading effect */
  }
  .MainBg.active {
    opacity: 1;
  }
  .fa-facebook-square{
    color: #1877F2;
  }
  .fa-linkedin-square{
    color: #0a66c2;
  }
  .fa-twitter-square{
    color: #1DA1F2;
  }
  .fa-envelope-o{
    color: rgb(228, 84, 84);
  }
  .sponsored{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    a{
        color: rgba(80, 203, 80, 0.25);
        margin: 0;
        letter-spacing: 1px;
        text-decoration: none;
    }
  }